# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage & reports
coverage
*.lcov
reports/
report*.json
*.report.json
*.report.*
*.docx

# logs
logs
*.log

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

/generated/prisma
uploads/
scratch/


